body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main container styling */
.main_Container {
  width: 100%;
  height: 100vh;
  margin-top: -36px;
  /* background-color: blueviolet; */
  position: relative;
}

.qrContainer {
  width: 100%;
  height: 100vh; /* Make sure the container takes full viewport height */
  display: flex;
  justify-content: center;
  /* width: 80%; */
  align-items: flex-start;
}

.videoFullHeight {
  width: 100%;
 
  max-width: 100%;
}

/* Popup overlay styling */
.popupOverlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 130px; /* Adjust height if needed */

  display: flex;
  align-items: flex-end; /* Align popup to bottom */
  justify-content: center; /* Center horizontally */
  z-index: 1000; /* Ensure it's above other content */
}

/* Popup content styling */
.popupContent {
  width: 272px;
  height: 75px;
  background: #125B57;
  border-radius: 12px;
  border: 2px solid; /* Updated for border-top */
  padding: 12px;
  box-sizing: border-box;
  color: white;
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: space-evenly; /* Center content horizontally */
  gap: 0px;
  position: absolute;
  top: 0;
}



/* ------------------------------------------------------------------------------------------------ */


/* MediaCapture.css */

.media-capture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.media-video {
  width: 640px;
  height: 480px;
  border-radius: 8px;
  border: 2px solid #ccc;
  background-color: #000;
}

.media-controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.media-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.media-button:hover {
  opacity: 0.9;
}

.media-image {
  width: 640px;
  height: auto;
  border-radius: 8px;
  margin-top: 1rem;
  border: 2px solid #ccc;
}

.media-video-display {
  width: 640px;
  height: 480px;
  border-radius: 8px;
  margin-top: 1rem;
  border: 2px solid #ccc;
}
