body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main container styling */
.main_Container {
  width: 100%;
  height: 100vh;
  /* background-color: blueviolet; */
  position: relative;
}

.qrContainer {
  width: 100%;
  height: 100vh; /* Make sure the container takes full viewport height */
}

.videoFullHeight {
  width: 100%;
  height: 100vh; /* Make the video take the full height of the viewport */
}

/* Popup overlay styling */
.popupOverlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 130px; /* Adjust height if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: flex-end; /* Align popup to bottom */
  justify-content: center; /* Center horizontally */
  z-index: 1000; /* Ensure it's above other content */
}

/* Popup content styling */
.popupContent {
  width: 272px;
  height: 75px;
  background: #125B57;
  border-radius: 12px;
  border: 2px solid; /* Updated for border-top */
  padding: 12px;
  box-sizing: border-box;
  color: white;
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: space-evenly; /* Center content horizontally */
  gap: 0px;
  position: absolute;
  top: 0;
}
